.new_posts_buttons div:hover img{
    -webkit-animation-name: shake-rotate;
    -ms-animation-name: shake-rotate;
    animation-name: shake-rotate;
    -webkit-animation-duration: 400ms;
    -ms-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running;
}
@-webkit-keyframes shake-rotate {
     0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg)
    }
    10% {
        -webkit-transform: translate(0px, 0px) rotate(-8.5deg)
    }
    20% {
        -webkit-transform: translate(0px, 0px) rotate(-0.5deg)
    }
   
    30% {
        -webkit-transform: translate(0px, 0px) rotate(-4.5deg)
    }
   
    40% {
        -webkit-transform: translate(0px, 0px) rotate(5.5deg)
    }
  
    50% {
        -webkit-transform: translate(0px, 0px) rotate(9.5deg)
    }
   
    60% {
        -webkit-transform: translate(0px, 0px) rotate(11.5deg)
    }
    
    70% {
        -webkit-transform: translate(0px, 0px) rotate(-5.5deg)
    }
   
    80% {
        -webkit-transform: translate(0px, 0px) rotate(-13.5deg)
    }
  
    90% {
        -webkit-transform: translate(0px, 0px) rotate(15.5deg)
    }
}
@-ms-keyframes shake-rotate {
     0% {
        -ms-transform: translate(0px, 0px) rotate(0deg)
    }
    10% {
        -ms-transform: translate(0px, 0px) rotate(-8.5deg)
    }
    20% {
        -ms-transform: translate(0px, 0px) rotate(-0.5deg)
    }
   
    30% {
        -ms-transform: translate(0px, 0px) rotate(-4.5deg)
    }
   
    40% {
        -ms-transform: translate(0px, 0px) rotate(5.5deg)
    }
  
    50% {
        -ms-transform: translate(0px, 0px) rotate(9.5deg)
    }
   
    60% {
        -ms-transform: translate(0px, 0px) rotate(11.5deg)
    }
    
    70% {
        -ms-transform: translate(0px, 0px) rotate(-5.5deg)
    }
   
    80% {
        -ms-transform: translate(0px, 0px) rotate(-13.5deg)
    }
  
    90% {
        -ms-transform: translate(0px, 0px) rotate(15.5deg)
    }
}
@keyframes shake-rotate {
    0% {
        transform: translate(0px, 0px) rotate(0deg)
    }
    10% {
        transform: translate(0px, 0px) rotate(-8.5deg)
    }
    20% {
        transform: translate(0px, 0px) rotate(-0.5deg)
    }
   
    30% {
        transform: translate(0px, 0px) rotate(-4.5deg)
    }
   
    40% {
        transform: translate(0px, 0px) rotate(5.5deg)
    }
  
    50% {
        transform: translate(0px, 0px) rotate(9.5deg)
    }
   
    60% {
        transform: translate(0px, 0px) rotate(11.5deg)
    }
    
    70% {
        transform: translate(0px, 0px) rotate(-5.5deg)
    }
   
    80% {
        transform: translate(0px, 0px) rotate(-13.5deg)
    }
  
    90% {
        transform: translate(0px, 0px) rotate(15.5deg)
    }
}

.video_url_input{
    -webkit-animation-name: spread;
    -ms-animation-name: spread;
    animation-name: spread;
    -webkit-animation: 5s ease;
    -ms-animation: 5s ease;
    animation: 5s ease;
    -webkit-transition-property:all;
    -moz-transition-property:all;
    transition-property:all;
}
@keyframes spread{
    0% {
        width: 100px;
    }
    25% {
        width: 200px;
    }
    50%{
        width: 300px;
    }
    75%{
        width: 400px;
    }
    100%{
        width: 500px;
    }
}
